/* Stylesheet for Seasons Website */

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
/***************** hamburger ********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menuItem {
  display: block;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: white;
  text-decoration: none;
}

.menuItem:hover {
  text-decoration: underline;
}

.hamburger {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border: black solid 1px;
  background: white;
  cursor: pointer;
}

.closeIcon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 1s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: #535252;
  color: white;
  list-style: none;
  padding-top: 4rem;
}

.showMenu {
  transform: translateY(0);
}
/***************** hamburger ********************/

body {
  margin: 0;
}
.background_gray {
  background-color: gray;
}
#container_recordings {
  max-width: 60em;
}
#container_bio_pg {
  max-width: 70em;
  margin: auto;
}
#gallery_container {
  max-width: 70em;
  margin: auto;
}
#container_home {
  max-width: 70em;
  margin: auto;
}
/*classes for text*/
.center {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
}
header, nav, footer {
  padding: 1em;
}

h1, p, nav {
  font-family: Quicksand, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
}

.selected {
  background-color: yellow;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.3em;
}
/*IMAGE CLASSES*/

.bio_pg_pic {
  object-fit: cover;

}
.da_logo {
  display:  block;
  /*this height takes priority over everything?*/
  height: 50%;
  transition: opacity 500ms;
  object-fit: cover;
  margin-bottom: -10px;
  margin-left: -25px;
}
.da_initials {
  /*also know as the footer*/
  display:  block;
  height: 50%;
  margin-left: -70px;
  margin-top: -50px;
}
/*.front_pg_gallery {
  display: block;
  so you set the width of the images to 100%, but the attributes of width and height that you give
  in the html img tag (more importantly the width) are what define the -height- of the image
  width: 100%;
  transition: opacity 500ms;
  object-fit: cover;
}*/
.front_page_img {
  padding-top: 10px;
  padding-bottom: 10px;
}
.gallery_pg {
  display: block;
  width: 100%;
  object-fit: cover;
  padding: 5px;
}
/*to stretch images, either vertically or horizontally with span of*/
.v-stretch {
  grid-row: span 2;
  width:  100%;
}
.h-stretch {
  grid-column: span 2;
  width:  100%;
}

article {
  padding: 1em;
  padding-bottom: 0;
}

article > p {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition-property: background-color;
  transition-duration: 250ms;
}

a.dark:link, a.dark:visited {
  color: white;
}

h1 > a:link, h1 > a:visited {
  text-transform: none;
}

a:hover {
  background-color: cadetblue;
  
}

a:active {
  background-color: forestgreen;
}

a.seasons:hover {
  /*opacity: 0.5;*/
  background-color: transparent;
}

a.seasons:active {
  /*opacity: 1;*/
  background-color: transparent;
}
footer {
  margin-top: 10px;
  margin-left: -20px;
}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.aligning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.aligning_lifting_vids {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 10px; 
}

/*100vw
100px*/


@media (min-width: 0px) {
  main {
    grid-template-columns: 1fr;
  }
  nav {
    flex-direction: row;
  }
  nav > a {
    margin-right: 1em;
  }

  .hidden_mobile {
    display: none;
  }

  .show_menu {
    display: block;
  }
  .da_logo {
  margin-bottom: -10px;
  }
  .h-stretch {
    grid-column: span 1;
  }
}


@media (min-width: 400px) {

  main {
    grid-template-columns: 1fr 1fr;
  }

  article {
    padding-top: 0;
  }
  .not_hidden {
    display: block;
  }
  .hide_menu {
    display: none;
  }
  .da_logo {
  margin-bottom: -25px;
  }
  .h-stretch {
    grid-column: span 2;
  }
  /*the 2nd horizontal video will only move up when it's on desktop, so it doesnt mess up mobile*/
  .move_up_vid {
  margin-top: -400px;
}
}